.footer {
    text-align: center;
    padding: 20px 0; /* Espacement autour du contenu */
    background-color: #f0f0f0; /* Couleur de fond du footer */
}

.phrase {
    font-weight: bold;
    font-size: large;
}
