.card-container {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.card {
    width: 30%;
    padding: 1rem;
   
    cursor: pointer;
}

.card:hover {
    background-color: #f0f0f0;
}
