/* locationMap.css */
.slds-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.lightning-map {
    height: 400px; /* Hauteur de la carte */
    border-radius: 10px;
}
